main{
    padding:auto;
    margin:auto;
    text-align: center;
    width: 600px;
    padding-bottom: 20px;
}

footer{
    width: 600px;
    padding:auto;
    margin:auto;
    text-align: center;
    border-top: 1px solid #ECEFF2;
}
.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
    color: #000;
}

.banner{
    background-position: center;
}
.roxo {
    color: #6C63FF;
}
main section{
    color: #7D7987;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
#insta{
    padding-right: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

#fale{
    padding-left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}